/.devcontainer export-ignore
/.github export-ignore
/.gitattributes export-ignore
/scripts export-ignore
/src/Illuminate/Foundation/** linguist-vendored
/tests/Assets/__fixtures__/** -linguist-detectable
